.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.atribution {
  font-size:.8rem;
  color: rgba(#0e1a33, .5);
  font-weight: 400;
}

.atribution a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}